<h2>Signup</h2>

  <form id="form" action="/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Your username">

    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="********">

    <label for="email">Email</label><br>
    <input type="email" name="email"
      placeholder="Enter your email"> 

    <label for="age">Age</label><br>
    <input type="number" name="age"
      placeholder="How old are you?">

    <label for="role">Você é um bartender ou um amante dos drinks?</label><select name="role" id="role">
      <option value="bartender">bartender</option>
      <option value="drinker">drinker</option>
    </select>
    <br><br>

    <button type="submit">Create account</button>
  </form>

  