<div class="container">

 <div class="main-question">
   <h1>Sign up</h1>
 </div>
 <form class="form" action="/auth/signup" method="POST" enctype="multipart/form-data">
   <label for="username">Username</label>
   <input type="text" name="username" placeholder="Seu nome">

   <label for="password">Password</label>
   <input type="password" name="password" placeholder="********">

   <label for="email">Email</label>
   <input type="email" name="email" placeholder="Seu email preferido">

   <label class="age" for="age">Age</label>
   <input class="age-input" type="number" name="age" placeholder="Quantos anos você tem?">

   <label for="role">Você é um bartender ou um amante de bebidas?</label><select name="role" id="role">
     <option class="choose" value="bartender">Sou um Bartender</option>
     <option class="choose"value="drinker">Sou um amante de bebidas</option>
   </select>
   <br><br>

  <label>Escolha sua foto de perfil</label>
  <input type="file" name="photo">
  <br><br>

   {{#if message}}
     <div class="error-message">{{ message }}</div>
   {{/if}}

   <button type="submit">Create account</button>
 </form>

 <h3><a href="/auth/login">I've already now this app!</a></h3>
</div>  


    {{#if message}}
      <div class="error-message">{{ message }}</div>
    {{/if}}

  