<form action="/profile/editProfile/{{user._id}}" method="post">
  <label>Look this photograph</label>
  <input type="file" name="photo">
  <br><br>

  <label for="">Name</label>
  <input type="text" name="name" value="{{user.name}}">
<br><br>

  <label for="">Email</label>
  <input type="email" name="email" value="{{user.email}}">
<br><br>

<label for="">Idade</label>
  <input type="Number" name="age" value="{{user.age}}">
<br><br>

<label for="">Cidade</label>
  <input type="text" name="city">
<br><br>

<label for="phone">Telefone</label>
  <input type="number" name="phone">
<br><br>

<label for="">Profissão</label>
  <input type="text" name="profession">
<br><br>

<button type="sumbmit">Alterar</button>
</form>