<div class="drink-card">
  <h1>{{this.name}}</h1>
  <img class="drink-image" src="{{this.photo}}" alt="drink image" height="100" width="100">
  <p>{{this.type}}</p>
  <button><a href="/drinks/drink/{{_id}}">view recipe</a></button>
</div>