<h2>Adicionar um novo drink ao meu perfil</h2>
<form action="/drinkAdd" method="post" enctype="multipart/form-data">
  <input type="hidden" name="owner" value="{{user._id}}">
  
  <label for="">name:</label>
  <input type="text" name="name">
<br><br>
 
  <label for="">Recipe:</label>
  <textarea name="recipe" id="recipe" cols="30" rows="10"></textarea>
<br><br>

  <label for="">ingredients:</label>
  <input type="text" name="ingredients">
<br><br>
  <label>type</label>
  <select name="type" id="type">
    <option value="alcoholic">alcoholic</option>
    <option value="non alcoholic">non alcoholic</option>
  </select>
  <br><br>
 
  <label>Image</label>
  <input type="file" name="photo">
  <br><br>
 
  <button type="submit">ADD</button>
</form>