<h2>Create new book</h2>
<form action="/books/add" method="post" enctype="multipart/form-data">
  <input type="hidden" name="owner" value="{{user._id}}">
  <label for="">name:</label>
  <input type="text" name="name">
<br><br>
 
  <label for="">Recipe:</label>
  <input type="text" name="recipe">
<br><br>

  <label for="">ingredients:</label>
  <input type="array" name="ingredients">
<br><br>
  <label>type</label>
  <input type="text" name="type">
  <br><br>
 
  <label>Image</label>
  <input type="file" name="photo">
  <br><br>
 
  <button type="submit">ADD</button>
</form>