<div class="container-home">
 <div class="main-question">
   <h1>O que você gostaria de beber hoje?</h1>
 </div>

 <div class="drinkCard">
   {{#each drink}}
   {{> drinkCard this}}
   {{/each}}
 </div>

</div>