<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/forms.css">
  <title>WeDrink</title>
</head>
<body>


<nav>
 <img src="/images/logo.svg" alt="logo">
 <div class="menu">
  {{#if user}}
   <img class="avatar" src="{{user.photo}}" alt="photo">
   <a href="/auth/logout">logout</a>
   <a href="/profile">ver meu profile</a>

   {{else}}
   <a href="/auth/signup">cadastro</a>
   <a href="/auth/login">login</a>
   {{/if}}

 </div>
</nav>

  {{{body}}}

  {{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa3UqhwRrfY0W8he-rGEeG-dmAOxjaWtA"></script>
  <script type="text/javascript" src="/javascript/main.js"></script> --}}
  
  </body>
</html>