.drinkCard,
.mydrinks-container{
  display: flex;
  padding: 2% 5%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.background-card {
  display: flex;
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 5px;
  flex-wrap: nowrap;
  margin-top: 5%;
}

.drink-image{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 1s ease-out;
  
}

.drink-image:hover {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  opacity: 0.3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.drink-text {
  top: 100px;
  position:absolute;
  width: 50%;
  padding: 5%;
}


.drink-name {
  color: whitesmoke;
  font-size: 20px;
}

.drink-type {
  font-size: 15px;
  color: whitesmoke;
}

.division{
  margin-top: 2%;
  padding: 4%;
}

/* drink page */


.drink-maker{
  text-decoration: none;
  color:white;
}

 .drink-info {
   color: white;
   font-size: 18px;
   padding: 3%;
   height: 350px;
   width: 450px;
   border-radius: 0px 5px 5px 0px;
   background-color: #333333;
 }

 .edit-button-drink,
 .delete-button-drink {
   padding: 10px;
   border: 2px solid black;
   font-size: 15px;
   
  }

  .edit-button-drink {
    background-color: blanchedalmond;
 }

 .delete-button-drink {
   background-color: #eb5757;
 }

.drink-buttons {
  margin-top: 3%;
}

.drink-buttons a {
  text-decoration: none;
  color: black;
}